$font-primary: 'Overpass Mono', monospace;

$primary: #f7e9e3;
$secondary: #ebcabc;
$tertiary: #dfab95;

$color1: rgba(247, 233, 227, 0.5);
$color2: rgba(235, 202, 188, 0.5);
$color3: rgba(223, 171, 149, 0.5);
