.groups-index {
  font-family: $font-primary;
  background-color: #D7D7D7;
  padding-bottom: 100px;
  min-height: 700px;

  .hero  {
    background-color: #D7D7D7;
  }
}

.groups-index-button  {
  background-color: $primary;
  text-decoration: none;
  font-family: $font-primary;
}

strong {
  font-weight: 700;
}

.notification {
  background-color: white;
}

.search-bar {
  max-width: 200px;
}
